* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

.App {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.main-content {
  flex-grow: 1;
  height: 100%;
  position: relative;
  margin-left: -20px; /* Compensate for App's padding */
}
